header {
  background: url(images/section11.jpg) no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}
nav {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  margin: 0 auto;
  padding-top: 0px;

  margin-bottom: 50px;
  width: 85%;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin-left: 20px;
}
ul a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
}
nav h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 20px;
}
.mainheading {
  display: flex;
  width: 85%;
  margin: 2rem auto;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 10vh;
  height: auto;
  gap: 3%;
  background: rgba(0, 11, 24, 0.8);
}
.mainimg {
  width: 35%;
  align-self: center;
  margin-left: auto;
  padding: 0;
  margin: 0;
}
.para {
  width: 50%;
  color: white;
  margin-top: 20px;
}
img[src="images/section.jpg"] {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: auto;
}
img[src="images/section.jpg"]:hover {
  padding: 2px;
  border: 1px solid white;
}
h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 0;
}
.para p {
  font-size: 20px;
  line-height: 30px;
}
.para button {
  background-color: aqua;
  border-radius: 8px;
  padding: 10px 0;
  border: 1px solid black;
}
.para button:hover {
  background-color: rgb(10, 10, 66);
  border: 1px solid white;
}
button a {
  padding: 20px 20px;
}
button a:hover {
  color: white;
}
.para a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}
.futureplans h1 {
  text-align: center;
}
.futureplans {
  padding: 40px 0;
  margin: 0 auto;
}
.futureplans h1 {
  font-size: 40px;
}
.plans {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 40px;
  box-sizing: border-box;
}
.plans div {
  box-sizing: border-box;
}
.plans div:hover {
  box-sizing: border-box;
}

.plans img {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid black;
  box-sizing: border-box;
}
.plans img:hover {
  width: 160px;
  height: 110px;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}
.plans div p {
  text-align: center;
  font-weight: bold;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000b18;
  padding: 30px 0;
}
.test div {
  width: 75%;
}
.test div p {
  color: white;
  font-size: 23px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 11, 24);
  color: white;
  padding: 0px;
  margin-top: 40px;
  font-size: 18px;
}
.fly {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: aqua;
  border-radius: 40px 0;
  padding: 30px;
  margin-top: 30px;
  gap: 5%;
  border: 1px solid black;
}
.fly .btn {
  align-self: center;
  background-color: ;
}
.fly .p {
  width: 60%;
}
h4 {
  margin: 0;
  font-size: 25px;
}
.fly p {
  font-size: 18px;
}
.btn button {
  background-color: #000b18;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}
.btn a {
  color: white;
  text-decoration: none;
}
.btn button:hover {
  background-color: blue;
  border: 1px solid white;
}
